/* selector {
  property: value
} */

body {
  font-family: sans-serif;
  background-color: tomato;
  color: white;
}

.header {
  background: black;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-style: italic;
}

.header-emojis {
  font-size: 3.5em;
}
