<h1>Books for <%= @author.first_name + ' ' + @author.last_name %></h1>
<%= link_to 'Home', authors_path  %>
<% @books.each do |book| %>
  <!-- <%= render 'book', book: book %> -->
  <%= render @books %>
<% end %>
