body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: red;
  color: white;
}

.header {
  text-align: center;
  margin-top: 2em;
}

.header img {
  width: 300px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pokemon-form * {
  margin: 0.5em;
  padding: 1em;
  border-radius: 10px;
}

.pokemon-card {
  border: 10px solid white;
  background-color: #333333;
  border-radius: 15px 15px 15px 50px;
  margin: 1em;
  padding: 1.5em;
  font-family: monospace;
  width: 150px;
}

.pokemon-card h3 {
  color: yellow;
  font-size: 1.5em;
}

.pokemon-card img {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.loading-pokeball {
  display: none;
  max-width: 400px;
}

.loading-pokeball img {
  width: 100%;
}
