.cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  text-align: center;
}
