body {
  background-color: bisque;
  color: brown;
  font-size: 1.5em;
}

.counter-container {
  margin: 1em auto;
  width: 90%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 25px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter-container button {
  background: transparent;
  padding: 1em;
  border-radius: 10px;
}

.random-shibe-container {
  margin: 1em auto;
  width: 90%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 25px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.random-shibe-container img {
  width: 100%;
  border-radius: 25px;
}
