/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .navbar-menu {
    display: none;
  }

  .navbar-burger {
    display: block;
    font-size: 2em;
  }

  .header {
    text-align: center;
    align-items: center;
  }

  .card {
    width: 80%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-contact li {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 18%;
  }
}
